---
import { getAboutMe } from '../../data/translations';
const t = getAboutMe('ES');
---

<h2
  class="mt-15 mb-10 text-center text-2xl font-bold tracking-tight text-gray-950 md:text-4xl dark:text-white"
  data-i18n-key="aboutMe.title"
>
  {t.title}
</h2>
