/* Importa Tailwind (no mover) */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import 'tailwindcss';
/* stylelint-disable-next-line */
@plugin "@midudev/tailwind-animations";
/*! Importaciones */
@import './navbar.css';
@import './techstack.css';
@import './projects.css';

/*! Temas personalizados */
@theme {
  --breakpoint-xs: 32rem;
  --color-amber-950: oklch(0.15 0.05 45);
  --ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*! Backdrop-blur personalizado efecto blur */
.header-backdrop-blur {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
