---
import LocalizedText from '../language/LocalizedText.astro';
---

<h2
  class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-950 md:text-4xl dark:text-white"
>
  <LocalizedText key="projects.heading" />
</h2>
