---
import meImage from '../assets/me.webp';
---

<!-- Presentación personal -->
<div class="mt-30 mb-5 flex flex-col items-center gap-15 md:flex-row">
  <img
    src={meImage.src}
    alt="Joaquin Calligaro"
    class="h-48 w-48 rounded-full object-cover shadow-lg ring-4 ring-amber-200 transition-all duration-300 hover:scale-105 hover:shadow-xl sm:h-72 sm:w-72 md:h-56 md:w-56 dark:ring-amber-800"
  />
  <div class="flex flex-col gap-4 text-center md:text-left">
    <h1
      class="text-4xl font-bold text-black md:text-6xl xl:mb-10 dark:text-white"
    >
      Joaquin Calligaro
    </h1>
    <p
      class="max-w-3xl text-lg leading-relaxed text-gray-600 dark:text-gray-300"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laudantium
      reiciendis impedit voluptatum! Harum aliquid, sint vero officia molestiae
      tempore voluptates, corporis expedita facere deserunt iure magni ratione
      quidem veniam?
    </p>
  </div>
</div>
