---
// Sección: Layout
// Propósito: envoltorio de la página (Navbar, Footer, main)
import Footer from '../components/Footer.astro';
import GoToTopBtn from '../components/ui/GoToTopBtn.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
import Background from '../components/background/Background.tsx';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PortfolioDemo1</title>

    <!-- Metas -->
    <meta
      name="description"
      content="A small minimalist web developer portfolio built with Astro and TailwindCSS"
    />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script>
  </head>
  <body>
    <Background client:only="react" />

    <Navbar />
    <main class="mx-auto flex max-w-screen-lg flex-col gap-12 p-6">
      <slot />
    </main>
    <GoToTopBtn />
    <Footer />
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
