---
import background from '../assets/background.svg';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>PortfolioDemo1</title>

    <!-- Metas -->
    <meta
      name="description"
      content="A small minimalist web developer portfolio built with Astro and TailwindCSS"
    />
  </head>
  <body class="dark:bg-gray-950">
    <img
      class="fixed top-0 left-0 -z-10 size-full blur-2xl"
      src={background.src}
      alt=""
      fetchpriority="high"
    />
    <Navbar />
    <main class="mx-auto flex max-w-screen-lg flex-col gap-12 p-6">
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
