---
// Componente cliente para elegir el background correcto según el tema.
import { StarsBackground } from './dark-mode/StarsBackground.tsx';
import { ShootingStars } from './dark-mode/ShootingStarts.tsx';
import { StarsBackgroundLight } from './light-mode/StartsBackgroundLight.tsx';
import { ShootingStarsLight } from './light-mode/ShootingStarts.tsx';
---

<div class="pointer-events-none fixed inset-0">
  {/* Renderizado condicional por clase .dark en <html>. */}
  <div class="hidden dark:block">
    <StarsBackground starDensity={0.0002} className="-z-30" client:load />
    <ShootingStars
      starColor="#9E00FF"
      trailColor="#2EB9DF"
      className="-z-20"
      client:load
    />
  </div>
  <div class="block dark:hidden">
    <StarsBackgroundLight starDensity={0.0002} className="-z-30" client:load />
    <ShootingStarsLight
      starColor="#4338CA"
      trailColor="#0EA5E9"
      className="-z-20"
      client:load
    />
  </div>
</div>
