---
// Props:
// - id: string (id del botón y target)
// - class: string (clases tailwind para el botón)
// - text: string (texto por defecto)
const {
  id = 'show-more-projects',
  class: cls = '',
  text = 'Ver todos',
} = Astro.props;
---

<button
  id={id}
  class={`dark:show-more-projects-btn border-[0.5px] border-gray-400/50 rounded-xl dark:border-gray-600/50 hover:dark:border-gray-600/50 bg-cyan-200/50 dark:bg-gray-800/30 neon-showmore-btn px-6 py-3 mt-5 text-md font-semibold ${cls}`}
  type="button"
  aria-expanded="false"
>
  <!-- Para que funcione el efecto neon se deben agregar estos spans despues de pasar las propiedades de los botones -->
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--top"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--right"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--bottom"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--left"
    aria-hidden="true"></span>
  <span class="neon-showmore-btn__text text-black dark:text-white">{text}</span>
</button>
