---
// Props:
// - id: string (id del botón y target)
// - class: string (clases tailwind para el botón)
// - text: string (texto por defecto)
const {
  id = 'show-more-projects',
  class: cls = '',
  text = 'Mostrar más',
} = Astro.props;
---

<button
  id={id}
  class={`show-more-projects-btn border-2 rounded-xl border-cyan-400/70 bg-teal-300/10 neon-showmore-btn  ${cls}`}
  type="button"
  aria-expanded="false"
>
  <!-- Para que funcione el efecto neon se deben agregar estos spans despues de pasar las propiedades de los botones -->
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--top"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--right"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--bottom"
    aria-hidden="true"></span>
  <span
    class="neon-showmore-btn__border neon-showmore-btn__border--left"
    aria-hidden="true"></span>
  <span class="neon-showmore-btn__text text-black dark:text-white">{text}</span>
</button>
