---
import { navItems } from '../shared/navData.astro';
import MobileNavButton from '../../ui/navbar/mobile/MobileNavButton.astro';
import LocalizedText from '../../language/LocalizedText.astro';
---

<!-- Navbar Mobile -->
<nav class="flex flex-col items-center gap-6 sm:hidden">
  <ul
    id="navbar-links"
    class="mt-4 flex flex-col items-center gap-10 font-semibold"
  >
    {
      navItems.map((item) => (
        <li>
          <MobileNavButton href={item.href}>
            <LocalizedText key={item.textKey} fallback={item.fallback} />
          </MobileNavButton>
        </li>
      ))
    }
  </ul>
</nav>
